<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>
<html>

<head>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
<meta http-equiv='Content-Style-Type' content='text/css'>
<meta name='robots' content='NONE'>
<meta name='author' content='Yuki Naito'>
<title><TMPL_VAR NAME=TITLE></title>
<link rel='icon' type='image/svg+xml'
	href='favicon.svg'>
<style type='text/css'>
<!--
	* { font-family:verdana,arial,helvetica,sans-serif }
	p,div,small { font-size:9pt }
	pre {
		font-family:courier,monospace;
		font-size:10pt;
		margin:0pt;
	}
	.aa {
		word-wrap:break-word;
		white-space:normal;
		padding-left:13.3em;
		padding-right:6em;
	}
	.seq {
		word-wrap:break-word;
		white-space:normal;
		padding-left:6em;
		padding-right:6em;
	}
	em   {
		font-family:courier,monospace;
		font-style:normal;
		font-weight:bold;
		background-color:#99FF99;
	}
	.lv2 { background-color:#66CC99 }
	.lv3 { background-color:#339999 }
	.lv4 { background-color:#006699 }
	.a { color:#3366CC }
	.k { color:black   }
	.g { color:gray    }
-->
</style>
</head>

<body>

<a href='./?spe='><img src='GGRNAlogo_en.png' alt='GGRNA' height=64 width=232 border=0></a><small>

<span style='margin:5px'></span>
<font color='#003300' style='vertical-align:4px'>ver.2</font>
<span style='margin:10px'></span>
</small>

<small style='vertical-align:55px'>
<a class=k href='.'            >Home</a>
<font color=silver>|</font>
<a class=k href='help.html'    >Help</a>
<font color=silver>|</font>
<a class=k href='advanced.html'>Advanced search</a>
&emsp;&emsp;
<a class=k href='/v1/'         >Previous release (v1)</a>
</small>

<hr><!-- __________________________________________________ -->

<p class=g><TMPL_VAR NAME=TIMESTAMP>, GGRNA.v2 : <TMPL_VAR NAME=REFSEQ_VER></p>

<TMPL_VAR NAME=HTML>

<hr><!-- __________________________________________________ -->

<p class=g>by
<a target='_blank' class=a href='http://twitter.com/meso_cacase'>@meso_cacase</a> at 
<a target='_blank' class=a href='http://dbcls.rois.ac.jp/'>DBCLS</a><br>
This page is licensed under a
<a target='_blank' class=a href='https://creativecommons.org/licenses/by/4.0/deed.en'>
Creative Commons Attribution 4.0 International License (CC BY 4.0)</a>.</p>

<p class=g>
If you use GGRNA in your work, please cite:<br>
Naito Y, Bono H. (2012)<br>
GGRNA: an ultrafast, transcript-oriented search engine for genes and transcripts.<br>
<i>Nucleic Acids Res.</i>, <b>40</b>, W592-W596.
<a target='_blank' class=a href='http://nar.oxfordjournals.org/content/40/W1/W592.full'>
[Full Text]</a></p>

</body>
</html>
