<p class=g><TMPL_VAR NAME=TIMESTAMP>, GGRNA : <TMPL_VAR NAME=REFSEQ_VER></p>

<h4>Summary:</h4>

<div>
<ul>
<TMPL_VAR NAME=SUMMARY>
</ul>
</div>

<h4>Results:</h4>

<p>検索語に<em>色がつきます</em>。<!--
-->重なると<em>色が</em><em class=lv2>濃く</em><!--
--><em class=lv3>表示</em><em class=lv2>され</em><em>ます。</em></p>

<TMPL_VAR NAME=HIT_LIST>

<h4 id='data_export'>Data Export:</h4>

<p>下記より最大<TMPL_VAR NAME=MAX_HIT_API>件まで検索結果を取得できます。</p>

<div>
<ul>
	<li>タブ区切りテキスト &rarr;
		<a target='_blank' href='<TMPL_VAR NAME=LINKBASE_URI>.txt'>表示</a> |
		<a href='<TMPL_VAR NAME=LINKBASE_URI>.txt.download'>ダウンロード</a><br>
		エクセル等の表計算ソフトに直接コピペできます。
	<li>JSON形式 &rarr;
		<a target='_blank' href='<TMPL_VAR NAME=LINKBASE_URI>.json'>リンク</a> |
		<a href='<TMPL_VAR NAME=LINKBASE_URI>.json.download'>ダウンロード</a>
</ul>
</div>

<h4 class=s id='hide' onclick='hideDebug()'>Debug Info:</h4>

<div id='debug'>
<p class=s>
Redirect URI : http://<font color='#808080'><TMPL_VAR NAME=HTTP_HOST></font><TMPL_VAR NAME=REDIRECT_URI><br>
lang         : <font color='#808080'><TMPL_VAR NAME=LANG    ></font> |
div          : <font color='#808080'><TMPL_VAR NAME=DIV     ></font> |
spe          : <font color='#ffb280'><TMPL_VAR NAME=SPE     ></font> |
query_string : <font color='#6bb36b'><TMPL_VAR NAME=QUERY   ></font> |
format       : <font color='#ff80bf'><TMPL_VAR NAME=FORMAT  ></font> |
download     : <font color='#808080'><TMPL_VAR NAME=DOWNLOAD></font>
</p>

<pre class=s>
<TMPL_VAR NAME=TIMELOG>
</pre>
</div>

<script type='text/javascript'>
<!--
hideDebug()
//-->
</script>
