<script type='text/javascript'>
<!--
document.ggrna.query.focus()
//-->
</script>

<div>
<p>
	遺伝子をGoogleのように検索できるサイトです。
	<a target='_blank' class=k href='https://www.ncbi.nlm.nih.gov/RefSeq/'>NCBI RefSeq</a>
	の transcript を全文検索します。
</p>
</div>

<div>
検索例：
<ul>
	<li>「<a class=k href='homeobox'                  >homeobox</a>」<!--
	 -->「<a class=k href='claudin'                   >claudin</a>」<!--
		-->...... フリーワード検索
	<li>「<a class=k href='%22RNA+interference%22'    >"RNA interference"</a>」<!--
		-->...... ダブルクオートで囲ってフレーズ検索
	<li>「<a class=k href='Argonaute+%22PAZ+domain%22'>Argonaute "PAZ domain"</a>」<!--
		-->...... Argonaute かつ "PAZ domain" のAND検索
	<li>「<a class=k href='NM_001518'                 >NM_001518</a>」<!--
	 -->「<a class=k href='10579'                     >10579</a>」<!--
		-->...... RefSeq IDやGene IDなど各種IDから検索
	<li>「<a class=k href='symbol%3AVIM'              ><cite>symbol:</cite>VIM</a>」<!--
		-->...... 遺伝子名(symbolまたはsynonym)から検索
	<li>「<a class=k href='ref%3ANaito'               ><cite>ref:</cite>Naito</a>」<!--
		-->...... 文献情報のなかからフリーワード検索
	<li>「<a class=k href='1552311_a_at'              >1552311_a_at</a>」<!--
		-->...... マイクロアレイのプローブIDから塩基配列を検索
	<li>「<a class=k href='aa%3AKDEL'                 ><cite>aa:</cite>KDEL</a>」<!--
		-->...... アミノ酸配列を検索
	<li>「<a class=k href='caagaagagattg'             >caagaagagattg</a>」<!--
		-->...... 塩基配列を検索
	<li>「<a class=k href='comp%3Acaagaagagattg'      ><cite>comp:</cite>caagaagagattg</a>」<!--
		-->...... 相補鎖を検索
	<li>「<a class=k href='iub%3Aaggtcannrtgacct'     ><cite>iub:</cite>aggtcannrtgacct</a>」<!--
		-->...... N, R, Y 等のあいまいな塩基を含む塩基配列を検索
	<li>　<a class=k href='help.html'>詳細な使い方</a>
	<li>　ゲノム配列を検索したいときは
		<a target='_blank' href='http://GGGenome.dbcls.jp/'>
			<img height=20 src='GGGlogo_small.png' alt='GGGenome' style='position:relative;top:0.2em'></a>《ゲゲゲノム》へ
		<ul>
			<li>ヒトゲノムの検索例：
				<a target='_blank' href='http://GGGenome.dbcls.jp/TTCATTGACAACATT' class=k><!--
				-->http://GGGenome.dbcls.jp/TTCATTGACAACATT</a>
		</ul>
</ul>
</div>

<div>
新着情報：
<ul>
	<li>2021-09-16　データベースをRefSeq rel. 207 (Jul, 2021) に更新。
	<li>2015-01-13　HTTPSによる暗号化通信に対応 - <a class=k
	                href='https://GGRNA.dbcls.jp/'>https://GGRNA.dbcls.jp/</a>
	<li>2013-07-24　ソースを公開 - <a target='_blank' class=k
	                href='https://github.com/meso-cacase/GGRNA'>GitHub</a>
	<li>2013-07-08　GGRNA ver.2公開。全生物種のRefSeqを検索できます。
	<li>2012-05-29　<a target='_blank' class=k
	                href='http://first.lifesciencedb.jp/from_dbcls/e0001'><!--
	                -->下記論文の日本語による解説を「DBCLSからの成果発信」に掲載。</a>
	<li>2012-05-29　<a target='_blank' class=k
	                href='http://nar.oxfordjournals.org/content/40/W1/W592.full'><!--
	                -->GGRNAの論文が<i>Nucleic Acids Research</i>に掲載されました。</a>
	<li><a href='https://github.com/meso-cacase/GGRNA/wiki/GGRNA-news-archive-%7C-ja' class=k>過去の新着情報</a>
</ul>
</div>
