<script type='text/javascript'>
<!--
document.ggrna.query.focus()
//-->
</script>

<div>
<p>
	Google-like full text search engine for genes and transcripts stored in
	<a target='_blank' class=k href='https://www.ncbi.nlm.nih.gov/RefSeq/'>NCBI RefSeq</a>.
</p>
</div>

<div>
Search examples:
<ul>
	<li>[ <a class=k href='homeobox'                  >homeobox</a> ]
	    [ <a class=k href='claudin'                   >claudin</a> ]
		...... Simple search
	<li>[ <a class=k href='%22RNA+interference%22'    >"RNA interference"</a> ]
		...... Phrase search by enclosing terms with double quotes
	<li>[ <a class=k href='Argonaute+%22PAZ+domain%22'>Argonaute "PAZ domain"</a> ]
		...... Return results that contain [ Argonaute ] AND [ "PAZ domain" ]
	<li>[ <a class=k href='NM_001518'                 >NM_001518</a> ]
	    [ <a class=k href='10579'                     >10579</a> ]
		...... Search for IDs such as RefSeq ID or Gene ID
	<li>[ <a class=k href='symbol%3AVIM'              ><cite>symbol:</cite>VIM</a> ]
		...... Search by gene name (symbol or synonym)
	<li>[ <a class=k href='ref%3ANaito'               ><cite>ref:</cite>Naito</a> ]
		...... Search within cited references
	<li>[ <a class=k href='1552311_a_at'              >1552311_a_at</a> ]
		...... Search for nucleotide sequences by microarray probe IDs
	<li>[ <a class=k href='aa%3AKDEL'                 ><cite>aa:</cite>KDEL</a> ]
		...... Search for amino-acid sequences
	<li>[ <a class=k href='caagaagagattg'             >caagaagagattg</a> ]
		...... Search for nucleotide sequences
	<li>[ <a class=k href='comp%3Acaagaagagattg'      ><cite>comp:</cite>caagaagagattg</a> ]
		...... Search for complementary sequences
	<li>[ <a class=k href='iub%3Aaggtcannrtgacct'     ><cite>iub:</cite>aggtcannrtgacct</a> ]
		...... Search for nucleotide sequences containing degenerate nucleotides
		       (<i>e.g.</i> N,R,Y,...)
	<li><a class=k href='help.html'>How to use in detail ...</a>
	<li>Search genomic sequence &rarr; Please try
		<a target='_blank' href='http://GGGenome.dbcls.jp/'>
			<img height=20 src='GGGlogo_small.png' alt='GGGenome' style='position:relative;top:0.2em'></a>
		<ul>
			<li>Example for searching human genome:
				<a target='_blank' href='http://GGGenome.dbcls.jp/TTCATTGACAACATT' class=k><!--
				-->http://GGGenome.dbcls.jp/TTCATTGACAACATT</a>
		</ul>
</ul>
</div>

<div>
What's new:
<ul>
	<li>2021-09-16 Database updated to RefSeq rel. 207 (Jul, 2021).
	<li>2015-01-13 HTTPS encrypted connection supported - <a class=k
	               href='https://GGRNA.dbcls.jp/'>https://GGRNA.dbcls.jp/</a>
	<li>2013-07-24 Source code available via <a target='_blank' class=k
	               href='https://github.com/meso-cacase/GGRNA'>GitHub</a>
	<li>2013-07-08 GGRNA ver.2 released. All organisms in RefSeq are available.
	<li>2012-05-29 <a target='_blank' class=k
	               href='http://nar.oxfordjournals.org/content/40/W1/W592.full'><!--
	               -->GGRNA paper has been published in <i>Nucleic Acids Research</i>.</a>
	<li><a href='https://github.com/meso-cacase/GGRNA/wiki/GGRNA-news-archive-%7C-en' class=k>News archive</a>
</ul>
</div>
